<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/chosen.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/jquery.modal.min.js"></script>
<script src="/static/js/jquery.hideseek.min.js"></script>
<script src="/static/js/mmenu.polyfills.js"></script>
<script src="/static/js/sticky_sidebar.min.js"></script>
<script src="/static/js/mmenu.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/wow.js"></script>
<script class="reloadMe" src="/static/js/script.js"></script>



<!-- Typed Script -->
<script src="/static/js/typed.js"></script>
<script>
    var typed = new Typed('.typed-words', {
        strings: ["City Gems"," Restaurants"," Hotels"],
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 4000,
        startDelay: 1000,
        loop: true,
        showCursor: true
    });
</script>

</body>
</html>