



{{define "content"}}


<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>


    <!-- Banner Section-->
    <section class="banner-section">
        <!-- Background Layer -->
        <div class="background-layer" style="background-image: url(/static/images/banner/1.jpg);"></div>

        <div class="auto-container">
            <div class="content-box">
                <!-- Upper Heading -->
                <div class="upper-heading">
                    <h3>
                        Discover The
                        <!-- Typed words can be configured in script settings at the bottom of this HTML file -->
                        <span class="typed-words"></span>
                    </h3>
                    <p>Find great places to stay, eat, shop, or visit from local experts.</p>
                </div>

                <!-- Listing Search Tabs -->
                <div class="listing-search-tabs tabs-box">
                    <ul class="tab-buttons">
                        <li class="tab-btn active-btn" data-tab="#tab1">Places</li>
                        <li class="tab-btn" data-tab="#tab2">Events</li>
                        <li class="tab-btn" data-tab="#tab3">Jobs</li>
                        <li class="tab-btn" data-tab="#tab4">Real Estate</li>
                        <li class="tab-btn" data-tab="#tab5">Cars</li>
                    </ul>

                    <div class="tabs-content">
                        <!--Tab-->
                        <div class="tab active-tab" id="tab1">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab2">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab3">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab4">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab5">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Browse Category -->
            <div class="browse-catergory">
                <div class="text">Or browse the highlights</div>
                <ul class="browse-cat-list">
                    <li><a href="#"><span class="icon flaticon-hamburger"></span> Eat & Drink</a></li>
                    <li><a href="#"><span class="icon flaticon-shopping-cart"></span> Shopping </a></li>
                    <li><a href="#"><span class="icon flaticon-bed"></span> Hotels </a></li>
                    <li><a href="#"><span class="icon flaticon-guitar"></span> Nightlife </a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Banner Section-->

    <!-- Features Section -->
    <section class="features-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What are you interested in?</h2>
                <span class="divider"></span>
                <div class="text">Explore some of the best tips from around the city from our partners and friends.</div>
            </div>

            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-musical-note"></span>
                                <h5>Nightlife</h5>
                                <span class="locations">07 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-hotel-bell"></span>
                                <h5>Restaurant</h5>
                                <span class="locations">58 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-weightlifting"></span>
                                <h5>Gym & Fitness</h5>
                                <span class="locations">43 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-museum"></span>
                                <h5>Art & History</h5>
                                <span class="locations">13 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-5.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-bed"></span>
                                <h5>Hotels</h5>
                                <span class="locations">129 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/static/images/resource/interested-6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-tent"></span>
                                <h5>Outdoor Activities</h5>
                                <span class="locations">94 Locations</span>
                                <a href="#" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Section -->

    <!-- Listing Section -->
    <section class="listing-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What are you interested in?</h2>
                <span class="divider"></span>
                <div class="text">Explore some of the best tips from around the city from our partners and friends.</div>
            </div>

            <div class="three-items-carousel owl-carousel owl-theme default-nav">
                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-1.jpg" alt=""></figure>
                            <div class="tags">
                                <span>Featured</span>
                                <span>$25 - $35</span>
                            </div>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-1.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Private Hotel-Spa <span class="icon icon-verified"></span></a></h3>
                            <div class="text">Luxury hotel in the heart of Bloomsbury.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Santa Monica, CA</li>
                                <li><span class="flaticon-phone-call"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place"><span class="icon flaticon-bed"></span> Hotels </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Now Closed</div>
                        </div>
                    </div>
                </div>

                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-2.jpg" alt=""></figure>
                            <div class="tags">
                                <span>Featured</span>
                            </div>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-2.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Moonlight Restourant </a></h3>
                            <div class="text">Italian traditional served pizzeria.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Santa Monica, CA</li>
                                <li><span class="flaticon-tray"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place pink"><span class="icon flaticon-hotel-1"></span> Restourant </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Open</div>
                        </div>
                    </div>
                </div>

                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-3.jpg" alt=""></figure>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-3.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Best Museum</a></h3>
                            <div class="text">This cafe is small but bustling.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Art & History</li>
                                <li><span class="flaticon-phone-call"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place purple"><span class="icon flaticon-museum"></span>Art & History </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Now Closed</div>
                        </div>
                    </div>
                </div>

                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-1.jpg" alt=""></figure>
                            <div class="tags">
                                <span>Featured</span>
                                <span>$25 - $35</span>
                            </div>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-1.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Private Hotel-Spa <span class="icon icon-verified"></span></a></h3>
                            <div class="text">Luxury hotel in the heart of Bloomsbury.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Santa Monica, CA</li>
                                <li><span class="flaticon-phone-call"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place"><span class="icon flaticon-bed"></span> Hotels </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Now Closed</div>
                        </div>
                    </div>
                </div>

                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-2.jpg" alt=""></figure>
                            <div class="tags">
                                <span>Featured</span>
                            </div>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-2.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Moonlight Restourant </a></h3>
                            <div class="text">Italian traditional served pizzeria.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Santa Monica, CA</li>
                                <li><span class="flaticon-tray"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place pink"><span class="icon flaticon-hotel-1"></span> Restourant </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Open</div>
                        </div>
                    </div>
                </div>

                <!-- Listing lLock -->
                <div class="listing-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/listing/1-3.jpg" alt=""></figure>
                            <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
                        </div>
                        <div class="lower-content">
                            <div class="user-thumb"><img src="/static/images/resource/user-thumb-3.jpg" alt="" /></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="title">(7 review)</span>
                            </div>
                            <h3><a href="#">Best Museum</a></h3>
                            <div class="text">This cafe is small but bustling.</div>
                            <ul class="info">
                                <li><span class="flaticon-pin"></span> Art & History</li>
                                <li><span class="flaticon-phone-call"></span> +61 2 8236 9200 </li>
                            </ul>
                        </div>
                        <div class="bottom-box">
                            <div class="places">
                                <div class="place purple"><span class="icon flaticon-museum"></span>Art & History </div>
                                <span class="count">+3</span>
                            </div>
                            <div class="status">Now Closed</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Listing Section -->

    <!-- How It Works -->
    <section class="how-it-works">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>See How It Works</h2>
                <span class="divider"></span>
                <div class="text">Discover how Listable can you help you find everything you want.</div>
            </div>
            <div class="row">
                <!-- Work Block -->
                <div class="work-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="icon-box"><img src="/static/images/icons/process-1.png" alt=""></figure>
                        <h4><a href="#">Choose What To Do</a></h4>
                        <div class="text">Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping? </div>
                    </div>
                </div>

                <!-- Work Block -->
                <div class="work-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="icon-box"><img src="/static/images/icons/process-2.png" alt=""></figure>
                        <h4><a href="#">Find What You Want</a></h4>
                        <div class="text">Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping? </div>
                    </div>
                </div>

                <!-- Work Block -->
                <div class="work-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="icon-box"><img src="/static/images/icons/process-3.png" alt=""></figure>
                        <h4><a href="#">Explore Amazing Places</a></h4>
                        <div class="text">Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping? </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End How It Works -->

    <!-- Call to Action -->
    <section class="call-to-action" style="background-image: url(/static/images/background/1.jpg);">
        <div class="auto-container">
            <div class="content">
                <h3>Need More Information</h3>
                <div class="text">Keep calm and get a special discount for all oders over $50 from The Naturel Coffee.<br> Hurry up! Only 3 days left.</div>
                <div class="btn-box"><a href="#" class="theme-btn btn-style-three">Explore <span class="flaticon-right"></span></a></div>
            </div>
        </div>
    </section>
    <!-- End Call to Action -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title text-center">
                <h2>What Our Users Say</h2>
                <span class="divider"></span>
                <div class="text">Discover how Listable can you help you find everything you want.</div>
            </div>

            <div class="testimonial-outer">
                <!-- Product Thumbs Carousel -->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="/static/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <div class="author-info">
                                <div class="author-name">Lara Croft</div>
                                <div class="designation">Restaurant Owner</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="/static/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <div class="author-info">
                                <div class="author-name">Lara Croft</div>
                                <div class="designation">Restaurant Owner</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="/static/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <div class="author-info">
                                <div class="author-name">Lara Croft</div>
                                <div class="designation">Restaurant Owner</div>
                            </div>
                        </div>

                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="/static/images/resource/testi-thumb-4.jpg" alt=""></figure>
                            <div class="author-info">
                                <div class="author-name">Lara Croft</div>
                                <div class="designation">Restaurant Owner</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="/static/images/resource/testi-thumb-5.jpg" alt=""></figure>
                            <div class="author-info">
                                <div class="author-name">Lara Croft</div>
                                <div class="designation">Restaurant Owner</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Client Testimonial Carousel -->
                <div class="client-testimonial-carousel owl-carousel owl-theme">

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Especially i want to give thanks to support team, this guys are friendly, <br> correct, gave me quick and complete answers. </div>
                            <span class="title">Good job!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- News Section -->
    <section class="news-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Tips & acArticles</h2>
                <span class="divider"></span>
                <div class="text">Browse the latest articles from our blog.</div>
            </div>

            <div class="row">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/news-1.jpg" alt="" /></figure>
                            <div class="tags">Lifestyle, Outdoor</div>
                            <a href="blog-single.html" class="overlay-link"></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-single.html">Etiquette Tips For Travellers</a></h3>
                            <div class="date">October 20, 2019</div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/news-2.jpg" alt="" /></figure>
                            <div class="tags">Gym, Fitness</div>
                            <a href="blog-single.html" class="overlay-link"></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-single.html">The Annual Gathering Comunity</a></h3>
                            <div class="date">October 20, 2019</div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/static/images/resource/news-3.jpg" alt="" /></figure>
                            <div class="tags">Hotels, Travel</div>
                            <a href="blog-single.html" class="overlay-link"></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-single.html">The Famous Streets of London</a></h3>
                            <div class="date">October 20, 2019</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Btn Box -->
            <div class="btn-box"><a href="#" class="theme-btn btn-style-two">View All <span class="flaticon-right"></span></a></div>
        </div>
    </section>
    <!-- End News Section -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Footer Upper -->
        <div class="footer-upper">
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Listings</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Footer Content -->
        <div class="footer-content">
            <div class="auto-container">
                <ul class="social-icon-one">
                    <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                    <li><a href="#"><span class="fab fa-google"></span></a></li>
                </ul>

                <ul class="copyright-text">
                    <li>Copyright © 2019 Listdo</li>
                    <li>New York, NY</li>
                    <li><a href="#">+61 2 8236 9200</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="text">Proudly Listdo by CreativeLayers</div>
        </div>

        <!-- Scroll To Top -->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up"></span></div>
    </footer>
    <!-- End Footer -->

</div><!-- End Page Wrapper -->




{{end}}



